---
interface Props {
  url: string; // Full TikTok URL to a post, e.g. https://www.tiktok.com/@scout2015/video/6718335390845095173
}
const { url } = Astro.props as Props;
---
<!-- TikTok embeds transform this blockquote with their script -->
<blockquote class="tiktok-embed" cite={url} style="max-width: 605px;min-width:325px;margin:0">
  <a href={url}>View on TikTok</a>
</blockquote>
<script defer src="https://www.tiktok.com/embed.js"></script>
